body{
    background-color: #22272E;
    font-family:Arial, Helvetica, sans-serif;
    color : white;
    
}
.img-cabecalho{
    border-radius: 500px;
    padding: 5px;
}

.cabecalho-principal{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    float: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 0px;
    background-color: #2C333B;
    top: 2px;
    
}
.cabecalho-secundario{
    margin-top: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    grid-template-columns: 20px 20px;
    float: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
#input-search{
    padding: 3px;
    border: 1px solid darkorange;
    background-color: #3e4144;
    color: white;
    border-radius: 5px;
    
}
.button-search{
    background-color: darkorange;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid darkorange;
    border-radius: 5px;
    max-width: 70%;
    padding: 3px;
}

.corpo-site{
    display: grid;
    flex-direction: column;
    grid-template-columns: 20% 50%;
    text-align: center;
    justify-content: center;

    
    
    
    
}
.grupo-infos{
    margin-left: 10%;
    border: 0px solid black;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: #2C333B;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.25);
    min-height: 200px;
    position: relative;
}
#img-perfil{
    border-radius: 200px;
    width: 20%;
    
}
.user-name{
    color: darkorange;
    padding-top: 40px;
}
.info-followers{
    display: none;
}
.num-followers{
    color: darkorange;
}
.num-following{
    color: darkorange;
}

.bloco-repositorios{
    margin-left: 20%;
    /*padding-left: 150px;*/
    border: 0px solid black;
    position: relative;
    float: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    background-color: #2C333B;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.25);
    text-align: center;
    align-items: center;
}
.title-rep{
    text-align: center;
}

.username-rep{
    color: darkorange;
    
}
.repositorios{
    
    text-align: center;
    display: grid;
    flex-direction: column;
    grid-template-columns: 20% 20% 20% 20%;
    /*align-items: center;*/
    position: relative;
    
}


.project{
    border: 1px solid black;
    background-color: #2C333B;
    padding: 2px;
    gap: 30px;
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    margin: 10% ;
    font-size: 60%;
    color: white;
    height: 30%;
    text-align: center;
    align-items: center;
    display: flex;
    float: center;
    
    
}
a:link{
    color: white;
    font-size: 10px;
    
}

@media screen and (max-width: 678px) {
    .text_localization{
        display: none;

    }
   
    .info-followers{
        display: inline;
    }
    .corpo-site{
        display: block;
        flex-direction: column;
        grid-template-columns: 100% 100%;
        align-items: center;
        
        
    }
    .grupo-infos{
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
   
}

footer{
    
   color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    float: center;
    max-width: 90%;
    align-items: center;
    margin-top: 10%;
    bottom: 0;
    
}